
<!DOCTYPE html>

{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% load staticfiles %}
{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Sign in</a>
or
  <a href="{% url 'signup' %}">Sign up</a>

{% endif %}



<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'map/css/styles.css' %}">
  </head>
  <body>
    </br>Save markers manually:</br>
    <form class= 'infowindow' method="post">
    {% csrf_token %}
    {{ mks }}
    <button type="submit">Save!</button></form>
    <div id="floating-panel">
        <input type="button" onclick="addmarker()" value="Add a draggable marker">
      <input onclick="clearMarkers();" type=button value="Hide Markers">
      <input onclick="showMarkers();" type=button value="Show All Markers">
      <input onclick="deleteMarkers();" type=button value="Delete Markers">
    </div>
<div id="map" style="height:600px;width:auto"></div>
The marker's address:<br/>
      <input id="address" type="text" style="width:600px;" class="field left" readonly/><br/>
Latitude:<input type="text" id="latitude" placeholder="Latitude" class="field left" readonly/>
    Longitude:<input type="text" id="longitude" placeholder="Longitude" class="field left" readonly/>

<input id="pac-input" class="controls" type="text" placeholder="Search Box">

   <script src="{% static 'map/js/maps.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3-soOxJeUjIbcCUQHHaAeaYHKmL-zel0&callback=initMap&libraries=places&callback=initAutocomplete"
    async defer></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


  </body>
</html>


{% endblock %}






