{% if some_flag %}
    <div id="alter" title="alter">
        <p>Some Text Here</p>
    </div>
{% endif %}
<head>
    <script type="text/javascript">
        $(document).ready(function() {
            $(function() {
                $( "#alter" ).dialog({
                    modal: true,
                    closeOnEscape: false,
                    dialogClass: "no-close",
                    resizable: false,
                    draggable: false,
                    width: 600,
                    buttons: [
                        {
                            text: "Please login to save markers.",
                            click: function() {
                            $( this ).dialog( "close" );
                            }
                        }
                    ]
                });
            });
        });
    </script>
</head>