"{% extends 'base.html' %}"+
                                        "{% block title %}add info{% endblock %}"+
                                        "{% block content %}"+
                                        "<form method='post'>"+
                                        "{!! csrf_token() !!}"+
                                        "{{ mks }}"+
                                        "<button type='submit'>Submit!</button>"+
                                        "</form>"+
                                        "{% endblock %}"</script> -->;


$('.infowindow')[0].outerHTML

sudo lsof -t -i tcp:8000 | xargs kill -9
